:root {
    --vz-topbar-user-bg: #FFF7E1;
}

:root, [data-bs-theme=light] {
    --vz-blue: #4788ff;
    --vz-indigo: #405189;
    --vz-purple: #ad64f1;
    --vz-pink: #f672a7;
    --vz-red: #ee6352;
    --vz-orange: #f1963b;
    --vz-yellow: #ffca5b;
    --vz-green: #40bb82;
    --vz-teal: #02a8b5;
    --vz-cyan: #3fa7d6;
    --vz-white: #fff;
    --vz-gray: #878a99;
    --vz-gray-dark: #343a40;
    --vz-gray-100: #f3f6f9;
    --vz-gray-200: #eff2f7;
    --vz-gray-300: #e9ebec;
    --vz-gray-400: #ced4da;
    --vz-gray-500: #adb5bd;
    --vz-gray-600: #878a99;
    --vz-gray-700: #495057;
    --vz-gray-800: #343a40;
    --vz-gray-900: #212529;
    --vz-primary: #FBBE0E;
    --vz-secondary: #4788ff;
    --vz-success: #40bb82;
    --vz-info: #3fa7d6;
    --vz-warning: #ffca5b;
    --vz-danger: #ee6352;
    --vz-light: #f3f6f9;
    --vz-dark: #212529;
    --vz-primary-rgb: 251, 190, 14;
    --vz-secondary-rgb: 71, 136, 255;
    --vz-success-rgb: 64, 187, 130;
    --vz-info-rgb: 63, 167, 214;
    --vz-warning-rgb: 255, 202, 91;
    --vz-danger-rgb: 238, 99, 82;
    --vz-light-rgb: 243, 246, 249;
    --vz-dark-rgb: 33, 37, 41;
    --vz-primary-text-emphasis: #FBBE0E;
    --vz-secondary-text-emphasis: #3c74d9;
    --vz-success-text-emphasis: #369f6f;
    --vz-info-text-emphasis: #368eb6;
    --vz-warning-text-emphasis: #d9ac4d;
    --vz-danger-text-emphasis: #ca5446;
    --vz-light-text-emphasis: #ced4da;
    --vz-dark-text-emphasis: #343a40;
    --vz-primary-bg-subtle: #FFFBF0;
    --vz-secondary-bg-subtle: #e3edff;
    --vz-success-bg-subtle: #e2f5ec;
    --vz-info-bg-subtle: #e2f2f9;
    --vz-warning-bg-subtle: #fff7e6;
    --vz-danger-bg-subtle: #fce8e5;
    --vz-light-bg-subtle: #f9fbfc;
    --vz-dark-bg-subtle: #e9ebec;
    --vz-primary-border-subtle: #FEECB8;
    --vz-secondary-border-subtle: #b5cfff;
    --vz-success-border-subtle: #b3e4cd;
    --vz-info-border-subtle: #b2dcef;
    --vz-warning-border-subtle: #ffeabd;
    --vz-danger-border-subtle: #f8c1ba;
    --vz-light-border-subtle: #eff2f7;
    --vz-dark-border-subtle: #adb5bd;
    --vz-white-rgb: 255, 255, 255;
    --vz-black-rgb: 0, 0, 0;
    --vz-font-sans-serif: "Saira", sans-serif;
    --vz-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --vz-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --vz-body-font-family: var(--vz-font-sans-serif);
    --vz-body-font-size: 0.8512rem;
    --vz-body-font-weight: 400;
    --vz-body-line-height: 1.5;
    --vz-body-color: #212529;
    --vz-body-color-rgb: 33, 37, 41;
    --vz-body-bg: transparent;
    --vz-body-bg-rgb: 0, 0, 0;
    --vz-emphasis-color: #212529;
    --vz-emphasis-color-rgb: 33, 37, 41;
    --vz-secondary-color: #878a99;
    --vz-secondary-color-rgb: 135, 138, 153;
    --vz-secondary-bg: #fff;
    --vz-secondary-bg-rgb: 255, 255, 255;
    --vz-tertiary-color: rgba(33, 37, 41, 0.5);
    --vz-tertiary-color-rgb: 33, 37, 41;
    --vz-tertiary-bg: #eff2f7;
    --vz-tertiary-bg-rgb: 239, 242, 247;
    --vz-heading-color: #495057;
    --vz-link-color: #8c68cd;
    --vz-link-color-rgb: 140, 104, 205;
    --vz-link-decoration: none;
    --vz-link-hover-color: #8c68cd;
    --vz-link-hover-color-rgb: 140, 104, 205;
    --vz-code-color: #f672a7;
    --vz-highlight-color: #212529;
    --vz-highlight-bg: #fcf8e3;
    --vz-border-width: 1px;
    --vz-border-style: solid;
    --vz-border-color: #e9ebec;
    --vz-border-color-translucent: #ced4da;
    --vz-border-radius: 0.25rem;
    --vz-border-radius-sm: 0.2rem;
    --vz-border-radius-lg: 0.3rem;
    --vz-border-radius-xl: 1rem;
    --vz-border-radius-xxl: 2rem;
    --vz-border-radius-2xl: var(--vz-border-radius-xxl);
    --vz-border-radius-pill: 50rem;
    --vz-box-shadow: 0 1px 2px rgba(56, 65, 74, 0.15);
    --vz-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --vz-box-shadow-lg: 0 5px 10px rgba(30, 32, 37, 0.12);
    --vz-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    --vz-focus-ring-width: 0.25rem;
    --vz-focus-ring-opacity: 0.25;
    --vz-focus-ring-color: rgba(var(--vz-primary-rgb), 0.25);
    --vz-form-valid-color: #40bb82;
    --vz-form-valid-border-color: #40bb82;
    --vz-form-invalid-color: #ee6352;
    --vz-form-invalid-border-color: #ee6352;
}

[data-bs-theme=dark] {
    color-scheme: dark;
    --vz-body-color: #6D4F0B;
    --vz-body-color-rgb: 206, 212, 218;
    --vz-body-bg: #FBBE0E;
    --vz-body-bg-rgb: 4, 19, 36;
    --vz-emphasis-color: #fff;
    --vz-emphasis-color-rgb: 255, 255, 255;
    --vz-secondary-color: #2C2404;
    --vz-secondary-color-rgb: 135, 138, 153;
    --vz-secondary-bg: #131004;
    --vz-secondary-bg-rgb: 5, 25, 47;
    --vz-tertiary-color: #6D4F0B;
    --vz-tertiary-color-rgb: 166, 175, 184;
    --vz-tertiary-bg: #131004;
    --vz-tertiary-bg-rgb: 6, 31, 59;
    --vz-primary-text-emphasis: #ECB30E;
    --vz-secondary-text-emphasis: #6ca0ff;
    --vz-success-text-emphasis: #66c99b;
    --vz-info-text-emphasis: #65b9de;
    --vz-warning-text-emphasis: #ffd57c;
    --vz-danger-text-emphasis: #f18275;
    --vz-light-text-emphasis: #434e5b;
    --vz-dark-text-emphasis: #4f5a66;
    --vz-primary-bg-subtle: rgba(140, 104, 205, 0.15);
    --vz-secondary-bg-subtle: rgba(71, 136, 255, 0.15);
    --vz-success-bg-subtle: rgba(64, 187, 130, 0.15);
    --vz-info-bg-subtle: rgba(63, 167, 214, 0.15);
    --vz-warning-bg-subtle: rgba(255, 202, 91, 0.15);
    --vz-danger-bg-subtle: rgba(238, 99, 82, 0.15);
    --vz-light-bg-subtle: rgba(6, 30, 57, 0.18);
    --vz-dark-bg-subtle: #1d2b3a;
    --vz-primary-border-subtle: #fbbe0e;
    --vz-secondary-border-subtle: #244480;
    --vz-success-border-subtle: #205e41;
    --vz-info-border-subtle: #20546b;
    --vz-warning-border-subtle: #80652e;
    --vz-danger-border-subtle: #773229;
    --vz-light-border-subtle: #222f3e;
    --vz-dark-border-subtle: #2a3645;
    --vz-heading-color: #ced4da;
    --vz-link-color: #e8e1f5;
    --vz-link-hover-color: #ede7f7;
    --vz-link-color-rgb: 232, 225, 245;
    --vz-link-hover-color-rgb: 237, 231, 247;
    --vz-code-color: #f672a7;
    --vz-highlight-color: #ced4da;
    --vz-highlight-bg: #665124;
    --vz-border-color: #6D4F0B;
    --vz-border-color-translucent: #6D4F0B;
    --vz-form-valid-color: #66c99b;
    --vz-form-valid-border-color: #66c99b;
    --vz-form-invalid-color: #f18275;
    --vz-form-invalid-border-color: #f18275;
    --vz-input-border-custom: #6D4F0B;
    --vz-page-title-border: #2C2404;
    --vz-header-border: #2C2404;
}
:root[data-sidebar=dark] {
    --vz-vertical-menu-bg: #040404;
    --vz-vertical-menu-border: #040404;
    --vz-vertical-menu-item-color: #FFF7E1;
    --vz-vertical-menu-item-bg: rgba(255, 255, 255, 0.15);
    --vz-vertical-menu-item-hover-color: #fff;
    --vz-vertical-menu-item-active-color: #fff;
    --vz-vertical-menu-item-active-bg: rgba(255, 255, 255, 0.15);
    --vz-vertical-menu-sub-item-color: #FFF7E1;
    --vz-vertical-menu-sub-item-hover-color: #fff;
    --vz-vertical-menu-sub-item-active-color: #fff;
    --vz-vertical-menu-title-color: #FFF7E1;
    --vz-twocolumn-menu-iconview-bg: #432361;
    --vz-vertical-menu-box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
    --vz-vertical-menu-dropdown-box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
}


.pagination {
    --vz-pagination-padding-x: 0.75rem;
    --vz-pagination-padding-y: 0.375rem;
    --vz-pagination-font-size: 0.8512rem;
    --vz-pagination-color: var(--vz-link-color);
    --vz-pagination-bg: var(--vz-secondary-bg);
    --vz-pagination-border-width: var(--vz-border-width);
    --vz-pagination-border-color: var(--vz-border-color);
    --vz-pagination-border-radius: var(--vz-border-radius);
    --vz-pagination-hover-color: var(--vz-link-hover-color);
    --vz-pagination-hover-bg: var(--vz-tertiary-bg);
    --vz-pagination-hover-border-color: var(--vz-border-color);
    --vz-pagination-focus-color: var(--vz-link-hover-color);
    --vz-pagination-focus-bg: var(--vz-tertiary-bg);
    --vz-pagination-focus-box-shadow: 0 0 1 0.25rem rgba(var(--vz-primary-rgb), 0.25);
    --vz-pagination-active-color: #fff;
    --vz-pagination-active-bg: #FBBE0E;
    --vz-pagination-active-border-color: #FBBE0E;
    --vz-pagination-disabled-color: var(--vz-secondary-color);
    --vz-pagination-disabled-bg: var(--vz-secondary-bg);
    --vz-pagination-disabled-border-color: var(--vz-border-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
;
    padding-left: 0;
    list-style: none;
}

[data-bs-theme=dark][data-sidebar=dark] {
    --vz-vertical-menu-border: #2C2404;
}


[data-bs-theme=dark] body::before {
    background-color: #040404;
}


.btn-primary {
    --vz-btn-bg: var(--vz-primary);
    --vz-btn-border-color: var(--vz-primary);
    --vz-btn-hover-bg: var(--vz-primary-text-emphasis);
    --vz-btn-hover-border-color: var(--vz-primary-text-emphasis);
    --vz-btn-focus-shadow-rgb: var(--vz-primary-rgb);
    --vz-btn-active-bg: var(--vz-primary-text-emphasis);
    --vz-btn-active-border-color: var(--vz-primary-text-emphasis);
}

[data-bs-theme=dark] .dropdown-menu {
    --vz-dropdown-bg: #040404;
    --vz-dropdown-link-color: #a6afb8;
    --vz-dropdown-link-hover-color: #b9bfc4;
    --vz-dropdown-link-hover-bg: #2C2404;
    --vz-dropdown-border-width: 1px;
    --vz-dropdown-link-active-color: #a6afb8;
    --vz-dropdown-link-active-bg: #2C2404;
}

.card-radio .form-check-input:checked+.form-check-label {
    border-color: #FBBE0E !important
}

.card-radio .form-check-input:checked+.form-check-label:before, a {
    color: #FBBE0E
}

@media (max-width: 767.98px) {
    [data-topbar=light] .app-menu {
        background-color: #040404;
    }
}